@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

font-family: "Pretendard Variable", Pretendard, -apple-system,
  BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
  "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;

@font-face {
  font-family: Pretendard;
  font-weight: 400;
  src: local("Pretendard Regular"),
    url("./assets/fonts/Pretendard-Regular.woff") format("woff"),
    url("./assets/fonts/Pretendard-Regular.woff2") format("woff2");
}

@font-face {
  font-family: Pretendard;
  font-weight: 500;
  src: local("Pretendard Medium"),
    url("./assets/fonts/Pretendard-Medium.woff") format("woff"),
    url("./assets/fonts/Pretendard-Medium.woff2") format("woff2");
}

@font-face {
  font-family: Pretendard;
  font-weight: 700;
  src: local("Pretendard Bold"),
    url("./assets/fonts/Pretendard-Bold.woff") format("woff"),
    url("./assets/fonts/Pretendard-Bold.woff2") format("woff2");
}

#root {
  width: 100%;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body {
  background: #de752d;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  touch-action: pan-y;
}

body,
html,
.main .main_content {
  overscroll-behavior: none !important;
}

button:focus {
  outline: 0;
  border: 0;
}

a {
  text-decoration: none;
}

.main {
  font-family: "Pretendard";
  letter-spacing: -0.08rem;
  height: 100%;
  -webkit-overflow-scrolling: touch; /* 異붽� */
}

.App {
  text-align: center;
  background-color: #ffffff;
  overflow-y: auto; /* �ㅽ겕濡ㅼ씠 蹂댁씠�꾨줉 �ㅼ젙 */
}

@media screen and (min-width: 840px) {
  .main_content {
    position: relative;
    min-height: 100vh;
  }

  .main_content:before {
    content: " ";
    position: absolute;
    left: -1px;
    top: 0;
    bottom: 0;
  }

  .main_content:after {
    content: " ";
    position: absolute;
    right: -1px;
    top: 0;
    bottom: 0;
  }
}

.title {
  color: #000;
  text-align: center;
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: #000;
  font-family: "Gmarket Sans TTF";
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.24px;
}

.title_container {
  margin-top: 100px;
}

.bottom_background {
  display: flex;
  height: 115px;
  padding: 37px 13px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;

  border-radius: 25px;
  background: #fff;
}

.dropdown {
  display: flex;
  width: 300px;
  height: 56px;
  align-items: center;
  gap: 190px;
  flex-shrink: 0;
  align-self: stretch;
  border-radius: 10px;
  background: #201c1d;
  color: #fff;
  text-align: left;
  font-family: Pretendard;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
}

select {
  -webkit-appearance: none; /* for chrome */

  -moz-appearance: none; /*for firefox*/

  appearance: none;
}

select::-ms-expand {
  display: none; /*for IE10,11*/
}

.btn_default {
  display: flex;
  width: 77px;
  height: 40px;
  padding: 6px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 5px;
  background: #ef9659;

  color: #ffd0d0;
  text-align: center;
  font-family: "Pretendard";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 169.231% */
}

.btn_clicked {
  display: flex;
  width: 77px;
  height: 40px;
  padding: 6px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 5px;
  background: #fff;

  color: #de752d;
  text-align: center;
  font-family: "Pretendard";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px; /* 169.231% */

  outline: none;
}

.recommend_btn {
  display: flex;
  height: 44px;
  width: 350px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 10px;
  background: #fff;

  color: #de752d;
  text-align: center;
  font-family: "Pretendard";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 13px; /* 100% */
}
